{% extends 'course/course_page.html' %}
{% load staticfiles %}

{% block 'css_header' %}
    <link href="{% static 'css/forum.css' %}" rel="stylesheet">
{% endblock %}

{% block 'js_header' %}
    <script type="text/javascript" src="{% static 'tinymce/js/tinymce/tinymce.min.js' %}"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen"

            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
        });
    </script>
{% endblock %}

{% block 'body_block' %}

    <div class="col-md-10 column">
        <div class="row clearfix">
            <div class="col-md-3 column" id="posts">
                <div class="panel-group" id="panel-936204">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <label>New Topic</label>

                            <div>
                                <button class="btn btn-default" type="button" onclick="showNewPostDiv();">
                                    Create
                                </button>
                            </div>
                            <script>
                                function showNewPostDiv() {
                                    document.getElementById('replyInput').style.display = 'block';
                                    document.getElementById("editorDiv").style.display = 'none';
                                    document.getElementById("post").style.display = "block";
                                    document.getElementById("existingPost").style.display = "none"

                                }
                            </script>

                        </div>
                    </div>

                    <div class="list-group">
                        <div class="list-group-item">

                            {#                                        New Style begin#}

                            {% for topic in topics %}
                                <div>
                                    <div>
                                        <a href="?topic={{ topic.pk }}">
                                            {{ topic.title }}
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                            {#                                        New Style End#}

                            {#                                        Old Style begin#}

                            {#                                        <div class="panel panel-default">#}
                            {#                                            <div class="panel-heading">#}
                            {#                                                <a data-toggle="collapse" data-parent="#panel-936204"#}
                            {#                                                   href="#panel-element-222">Quiz</a>#}
                            {#                                            </div>#}
                            {#                                            <div id="panel-element-222" class="panel-collapse collapse">#}
                            {#                                                <div class="panel-body">#}
                            {#                                                    <a>QuizPost #1</a>#}
                            {#                                                </div>#}
                            {#                                            </div>#}
                            {#                                        </div>#}
                            {#                                        <div class="panel panel-default">#}
                            {#                                            <div class="panel-heading">#}
                            {#                                                <a data-toggle="collapse" data-parent="#panel-936204"#}
                            {#                                                   href="#panel-element-333">Polls</a>#}
                            {#                                            </div>#}
                            {#                                            <div id="panel-element-333" class="panel-collapse collapse">#}
                            {#                                                <div class="panel-body">#}
                            {#                                                    <a>PollsPost #1</a>#}
                            {#                                                </div>#}
                            {#                                            </div>#}
                            {#                                        </div>#}
                            {#                                        <div class="panel panel-default">#}
                            {#                                            <div class="panel-heading">#}
                            {#                                                <a data-toggle="collapse" data-parent="#panel-936204"#}
                            {#                                                   href="#panel-element-444">Projects</a>#}
                            {#                                            </div>#}
                            {#                                            <div id="panel-element-444" class="panel-collapse collapse">#}
                            {#                                                <div class="panel-body">#}
                            {#                                                    <a>ProjectPost #1</a>#}
                            {#                                                </div>#}
                            {#                                            </div>#}
                            {#                                        </div>#}

                            {#                                        Old Style End#}

                        </div>
                    </div>


                </div>
            </div>

            <div class="col-md-9 column">
                <div class="row clearfix" id="post" style="display:none;">
                    <div class="col-md-12">
                        {#                        <div class="row clearfix" id="typeOfPost">#}
                        {#                            <div class="col-md-2">#}
                        {#                                <label>Type </label>#}
                        {#                            </div>#}
                        {#                            <div class="col-md-10">#}
                        {#                                <div class="btn-group btn-group-xs">#}
                        {#                                    <button class="btn btn-default" type="button">HW</button>#}
                        {#                                    <button class="btn btn-default" type="button"> Quiz</button>#}
                        {#                                    <button class="btn btn-default" type="button"> Polls</button>#}
                        {#                                    <button class="btn btn-default" type="button">Project</button>#}
                        {#                                </div>#}
                        {##}
                        {#                            </div>#}
                        {#                        </div>#}
                        {#                        <br>#}

                        <form action="{% url 'course_forum_add_topic' course_year_1=course_instance.term.year course_year_2=course_instance.term.year|add:"1" term=course_instance.term.semester course_num=course_instance.course.course_number course_group=course_instance.group %}"
                              method="post" class="form-horizontal" role="form" id="topic_form">
                            {% csrf_token %}

                            <div class="row clearfix">

                                <div class="col-md-2 column">
                                    <label>Topic</label>
                                </div>

                                <div class="col-md-10 column">

                                    <div class="form-group">

                                        <div class="col-sm-12">
                                            {{ topic_form.title }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">

                                <div class="col-md-2 column">
                                    <label>Anonymous</label>
                                </div>

                                <div class="col-md-10 column">

                                    <div class="form-group">

                                        <div class="col-sm-12">
                                            {{ topic_form.anonymous }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-md-2 column">
                                    <label>Details</label>

                                </div>


                                <div class="col-md-10 column">
                                    {{ topic_form.body }}
                                </div>
                            </div>

                            <div class="row clearfix" id="postButton">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-10">
                                    <button type="button" class="btn btn-info" onclick="hideNewPostDiv();">
                                        Post
                                    </button>
                                    <Script>
                                        function hideNewPostDiv() {
                                            document.getElementById("existingPost").style.display = "block";
                                            document.getElementById("post").style.display = "none";
                                            $('#topic_form').submit()
                                        }
                                    </Script>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12">

                        {% if topic %}
                            <h4>Title: {{ topic.title }}
                            {% if topic.locked == True %}
                                ( locked )
                            {% endif %}
                            </h4>
                            <div class="row clearfix" id="existingPost">
                                <div class="col-md-12 column">
                                    <div class="row clearfix">
                                        {% for post in posts %}
                                            {#                                                each main post#}
                                            <div class="col-md-12 column">
                                                    <span class="label label-default">
                                                        {% if post.anonymous == True %}
                                                            anonymous
                                                        {% else %}
                                                            {{ post.created_by }}
                                                        {% endif %}
                                                    </span>

                                                <p>
                                                    {% autoescape off %}
                                                        {{ post.body }}
                                                    {% endautoescape %}
                                                </p>


                                                {#                                                    each comment to that post#}
                                                {% for comment in post.get_post_comments %}
                                                    <div class="row clearfix">
                                                        <div class="col-md-1 column">

                                                        </div>
                                                        <div class="col-md-11">
                                                            <span class="label label-default">
                                                                {% if comment.anonymous == True %}
                                                                    anonymous
                                                                {% else %}
                                                                    {{ comment.created_by }}
                                                                {% endif %}
                                                            </span>

                                                            <p>
                                                                {% autoescape off %}
                                                                    {{ comment.body }}
                                                                {% endautoescape %}
                                                            </p>
                                                        </div>
                                                    </div>
                                                {% endfor %}

                                                {% if topic.locked == False %}
                                                    {#                                                    commnet on that post#}
                                                    <div class="row clearfix">
                                                        <div class="col-md-1 column">
                                                        </div>
                                                        <div class="col-md-11 column">

                                                            <form action="{% url 'course_forum_add_post' course_year_1=course_instance.term.year course_year_2=course_instance.term.year|add:"1" term=course_instance.term.semester course_num=course_instance.course.course_number course_group=course_instance.group %}"
                                                                  method="post" class="form-horizontal" role="form">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="topic"
                                                                       value="{{ topic.id }}"/>
                                                                <input type="hidden" name="parent_post"
                                                                       value="{{ post.id }}"/>

                                                                <div class="form-group">

                                                                    <div class="col-sm-12">
                                                                        <a onclick="changeToReplyMode(this)"
                                                                           id="replyInput"> + Comment to this post </a>

                                                                        <div style="display: none;" id="editorDiv">

                                                                            <div class="row clearfix">

                                                                                <div class="col-md-2 column">
                                                                                    <label>Anonymous</label>
                                                                                </div>

                                                                                <div class="col-md-10 column">

                                                                                    <div class="form-group">

                                                                                        <div class="col-sm-12">
                                                                                            {{ form.anonymous }}
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            {{ form.body }}

                                                                            <button type="submit"
                                                                                    class="btn btn-info">Post
                                                                            </button>
                                                                            <script>
                                                                                function changeToReplyMode(x) {
                                                                                    x.style.display = "none";
                                                                                    $(x).siblings().css({"display": "block"});
                                                                                }
                                                                                ;
                                                                            </script>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </form>

                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endfor %}

                                        {% if topic.locked == False %}
                                            {#                                                reply to the post#}
                                            <div class="row clearfix">
                                                <div class="col-md-1 column">
                                                </div>
                                                <div class="col-md-11 column">

                                                    {% if form.errors %}
                                                        {% for field in form %}
                                                            {% for error in field.errors %}
                                                                <div class="alert alert-error">
                                                                    <strong>{{ error|escape }}</strong>
                                                                </div>
                                                            {% endfor %}
                                                        {% endfor %}
                                                        {% for error in form.non_field_errors %}
                                                            <div class="alert alert-error">
                                                                <strong>{{ error|escape }}</strong>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}

                                                    <form action="{% url 'course_forum_add_post' course_year_1=course_instance.term.year course_year_2=course_instance.term.year|add:"1" term=course_instance.term.semester course_num=course_instance.course.course_number course_group=course_instance.group %}"
                                                          method="post" class="form-horizontal" role="form">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="topic" value="{{ topic.id }}"/>

                                                        <div class="form-group">

                                                            <div class="col-sm-12">

                                                                <input type="text" class="form-control"
                                                                       placeholder="Reply to this topic"
                                                                       onclick="changeToReplyMode(this)"
                                                                       style="margin-left: -50px"
                                                                       id="replyInput"/>

                                                                <div style="display: none;" id="editorDiv">

                                                                    <div class="row clearfix">

                                                                        <div class="col-md-2 column">
                                                                            <label>Anonymous</label>
                                                                        </div>

                                                                        <div class="col-md-10 column">

                                                                            <div class="form-group">

                                                                                <div class="col-sm-12">
                                                                                    {{ form.anonymous }}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    {{ form.body }}
                                                                    <button type="submit" class="btn btn-info">Post
                                                                    </button>
                                                                    <script>
                                                                        function changeToReplyMode(x) {
                                                                            x.style.display = "none";
                                                                            $(x).siblings().css({"display": "block"});
                                                                        }
                                                                        ;
                                                                    </script>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </form>

                                                </div>
                                            </div>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        {% endif %}


                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}