{% extends 'course/course_page.html' %}

{% block 'body_block' %}

    <div class="col-md-10 column">

        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="list-group">
                    <a href="#" class="list-group-item active">{{ course_instance.course.name }}
                        - {{ course_instance.course.course_number }}</a>

                    <div class="list-group-item">
                        <ul>
                            <li>
                                Credit: {{ course_instance.course.credit }} Units
                            </li>
                            <li>
                                Semester: {{ course_instance.term }}
                            </li>
                            <li>
                                Group: {{ course_instance.group }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="list-group">
                    <a href="#" class="list-group-item active">Description</a>

                    <div class="list-group-item">
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                {% if syllabus and syllabus.description|length > 0 %}
                                    {{ syllabus.description }}
                                {% else %}
                                    No Description
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="list-group">
                    <a href="#" class="list-group-item active">Instructor</a>

                    <div class="list-group-item">
                        {% for professor in course_instance.professors.all %}
                            <dl>
                                <dt>
                                    -
                                    {% if professor.account_id.user.first_name|length > 0 %}
                                    {{ professor.account_id.user.first_name }} {{ professor.account_id.user.last_name }}
                                    {% else %}
                                        {{ professor.account_id.user.username }}
                                    {% endif %}
                                    {% if professor.account_id.user.email|length > 0 %}
                                    <span style="font-size:12px"> < {{ professor.account_id.user.email }} > <span>
                                    {% endif %}
                                </dt>
                            </dl>
                        {% empty %}
                            No Instructor
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="list-group">
                    <a href="#" class="list-group-item active">Text Book(s)</a>

                    <div class="list-group-item">
                        {% if syllabus %}
                            {% for text_book in syllabus.text_books.all %}
                                [{{ forloop.counter }}] <a href="{{ text_book.link }}">{{ text_book.name }} </a>
                            {% endfor %}
                        {% else %}
                            No TextBook
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="list-group">
                    <a href="#" class="list-group-item active">Grading Policy</a>

                    <div class="list-group-item">
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                {% if syllabus and syllabus.grading_policy|length > 0 %}
                                    {{ syllabus.grading_policy }}
                                {% else %}
                                    No Grading Policy
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}