{% extends 'course/course_page.html' %}

{% block 'body_block' %}
    <div class="col-md-10 column">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        <div class="row clearfix">
                            <div class="col-md-10">
                                <label>HW#1</label>
                            </div>
                            <div class="col-md-2">
                                <label id="deadline">DeadLine: 93/08/10</label>
                            </div>
                        </div>

                    </a>

                    <div class="list-group-item">
                        <div class="row clearfix">
                            <div class="col-md-10">
                                <div class="row clearfix">
                                    <div class="col-md-1">
                                        <label class="fa fa-angle-double-right"></label>
                                    </div>
                                    <div class="col-md-11">
                                        <p style="margin-left: -3em;">Description of Assignment</p>
                                    </div>

                                </div>
                                <div>
                                    <ul style="list-style-type: none;">
                                        <li>
                                            <a href="#" class="fa fa-cloud-download fa-2x"></a>
                                        </li>
                                    </ul>

                                </div>

                            </div>

                            <div class="col-md-2 column">
                                <a href="#" class="btn fa fa-cloud-upload fa-3x"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
