{% extends 'course/course_page.html' %}
{% load staticfiles %}

{% block 'css_header' %}
    <link href="{% static 'css/calendar.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body_block' %}
    <div class="col-md-10 column">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr id="tr">
                        <th width="5%">
                            #
                        </th>
                        <th width="25%">
                            Date
                        </th>
                        <th width="25%">
                            Subject
                        </th>
                        <th width="45%">
                            Description
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for calendar_item in calendar_items %}
                    <tr>
                        <td>
                            {{ forloop.counter }}
                        </td>
                        <td>
                            {{ calendar_item.date }}
                        </td>
                        <td>
                            {{ calendar_item.subject }}
                        </td>
                        <td>
                            {{ calendar_item.body }}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}