{% extends 'course_admin/manage_base.html' %}
{% load staticfiles %}

{% block 'css_header' %}
    <link href="{% static 'css/calendar.css' %}" rel="stylesheet">
{% endblock %}

{% block 'js_header' %}
    <script type="text/javascript" src="{% static 'js/calendarManaging.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
    <script>
        /**
         * Created by makan on 1/30/15.
         */
        function removeRow(x, id) {
            x.style.display = "none";
            $(x).parents("tr").css({"display": "none"});
            //    and remove from server...;
            ajaxPost("{% url 'ajax_calendar_remove_item' course_year_1=course_instance.term.year course_year_2=course_instance.term.year|add:"1" term=course_instance.term.semester course_num=course_instance.course.course_number course_group=course_instance.group %}",
                    {'calendar_id': id}, function (content) {
                    })
        }

    </script>
{% endblock %}

{% block 'body_block' %}
    <div class="col-md-10 column">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr id="tr">
                        <th width="5%">

                        </th>
                        <th width="5%">
                            #
                        </th>
                        <th width="20%">
                            Date
                        </th>
                        <th width="25%">
                            Subject
                        </th>
                        <th width="45%">
                            Description
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for calendar_item in calendar_items %}
                        <tr>
                            <td>
                                <a class="btn fa fa-times" onclick="removeRow(this, {{ calendar_item.id }});"></a>
                            </td>

                            <td>
                                {{ forloop.counter }}
                            </td>
                            <td>
                                {{ calendar_item.date }}
                            </td>
                            <td>
                                {{ calendar_item.subject }}
                            </td>
                            <td>
                                {{ calendar_item.body }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr id="tr">
                        <th width="5%">

                        </th>
                        <th width="20%">
                            Date
                        </th>
                        <th width="25%">
                            Subject
                        </th>
                        <th width="45%">
                            Description
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    <form action="{% url 'manage_course_calendar' course_year_1=course_instance.term.year course_year_2=course_instance.term.year|add:"1" term=course_instance.term.semester course_num=course_instance.course.course_number course_group=course_instance.group %}"
                          method="POST" id="calendar_add_form">
                        {% csrf_token %}
                        <tr>
                            <td>
                                <a href="#" id="add_button" class="btn fa fa-plus" onclick="return false;"></a>
                            </td>
                            <td>
                                {{ form.date.errors }}
                                {{ form.date }}
                            </td>
                            <td>
                                {{ form.subject.errors }}
                                {{ form.subject }}
                            </td>
                            <td>
                                {{ form.body.errors }}
                                {{ form.body }}
                            </td>
                        </tr>
                    </form>
                    </tbody>

                </table>

            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-12">

            </div>
        </div>
    </div>
{% endblock %}

{% block 'js_footer' %}
    <script>
        $("#add_button").click(function () {
            $("#calendar_add_form").submit();
        });
    </script>
{% endblock %}